:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 1em;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

.error {
  font-size: 1rem;
  font-weight: 700;
  color: #f6f6f6;
  background-color: #0f0f0f;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 2em 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.25em #0f0f0f;
}

.todo__create {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1em;
  width: fit-content;
}

.btn__fetch-next {
  width: fit-content;
  margin: 1em auto 0;
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0.5em auto;
  width: fit-content;
}

.todo + .todo {
  border-top: 1px solid #0f0f0f;
  padding-top: 1em;
}

.todo.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo__title {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
}

.todo__description {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;
}

.todo__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
}

.todo__action {
  padding: 0.5em 1em;
  font-size: 0.75rem;
  font-weight: 500;
}

.todo__edit-input {
  font-size: 0.8em;
  width: 100%;
}

.todo__action--delete {
  color: #ffffff;
  background-color: #b43737;
}

.todo__action--delete:hover {
  background-color: #b92929;
}

.todo__action--edit {
  color: #ffffff;
  background-color: #d88639;
}

.todo__action--edit:hover {
  background-color: #d19825;
}

.todo__action--isCompleted {
  color: #ffffff;
  background-color: #396cd8;
}

.todo__action--isCompleted:hover {
  background-color: #2f5bb5;
}

.todo__action--cancel {
  color: #ffffff;
  background-color: #0f0f0f;
}

.todo__action--cancel:hover {
  background-color: #1f1f1f;
}

.todo__action--save {
  color: #ffffff;
  background-color: #39d839;
}

.todo__action--save:hover {
  background-color: #2fb52f;
}
